html{
  box-sizing: border-box;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  line-height: 1.2;
  height: 100%;
  border: 2px;
  background-color: olive;
}

.container{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.desc-title{
  color: black;
  text-transform: uppercase;
}

.field-form-btn{
  color: yellow;
  background-color:black ;
  border: 2px;
  border-radius: 14px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 25px;
  text-transform: uppercase;
  
}

.field-form-btn:hover{
   background-color: brown;
}



.field-form-btn:focus{
  cursor: pointer;
}

.field-form-label{
  color: black;
  font-size: 35px;
  width: 80px;
  border: 1px;
  border-radius: 14px;
}

.canvas{
  text-align: center;
}

.desc-subtitle{
  color: black;
  border: 5px;
}

.resault-help{
  color: black;
}

.field{
 border: 1px;
 border-radius: 14px;
 background-color: olivedrab;
  
}
